[HOST]
log / stdout "{combined} | {scheme}://{host} {>Connection} {>Upgrade}"
proxy / https://blog.abreto.net
proxy /filesync https://v2ray:8008 {
  header_upstream Host "[HOST]"
  header_upstream X-Forwarded-Proto "https"
  insecure_skip_verify
}
